.App {
  min-height: 100vh;
  background-color: #f8fafc;
}

input[type="range"]::-webkit-slider-thumb {
  @apply w-4 h-4 bg-blue-500 rounded-full border-none appearance-none;
}


/* Estilos para las tarjetas */
.card {
  @apply bg-white rounded-lg shadow-md transition-shadow hover:shadow-lg;
}

/* Animaciones suaves */
.transition-all {
  @apply transition-all duration-300 ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
